<footer id="kontak">
    <!--Footer-->
    <div class="text-center">
        <div class="row bg-dark p-2 text-white">
            <h5> Muhamad Adi Wijaya </h5>
            <i class="bi-envelope">
            <a href="mailto:adi.wya12@gmail.com">adi.wya12@gmail.com</a>
            </i>
        </div>
    </div>
</footer>