<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-brand"> OnLibrary </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="navbar-toggler-icon"></span>
        </button>
            <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-end" id="offcanvasRight">
                    <ul class="navbar-nav mb-2 mb-lg-0 gap-4">
                        <li class="nav-item">
                            <a href="/" class="nav-link btn-outline-theme">Home</a>
                            <li class="nav-item">
                                <a href="#kontak" class="nav-link btn-outline-theme">Hubungi Saya</a>
                                <li class="nav-item">
                                    <a href="/register" class=" nav-link btn-outline-theme">Register</a>
                                </li>
                    </ul>
                </div>
            </div>
    </nav>
    </div>