<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div>
        <%- include( 'components/navbar'); %>
    </div>

 

    <div class="container">
        <% if(book.length === 0) { %>
        <div class="alert alert-danger" role="alert">
            Data buku tidak ditemukan <a href="/" class="alert-link">silahkan kembali ke halaman home</a>.
        </div>
        <% } else { %>
        <img src="<%= book[0].image %>" alt="Cover" width="200">
        <h1>Terimakasih sudah membeli buku <%= book[0].title %>! Selamat menikmati!</h1>
        <a href="/">Kembali ke laman utama</a>
        <br><br>
        <hr>
        <% } %>
    </div>

    <%- include('components/footer'); %>
    
</body>

</html>