<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color:gainsboro;">
    <div>
        <%- include( 'components/navbar'); %>
    </div>
    <br>
    <div class="text-center"><strong> Selamat datang di OnLibrary</strong> <br> <br>
    </div>
    <div class="container px-lg-5 position-relative table-container">
        <table border="1" style=" text-align: center;">
            <tr class="Tahd">
                <th rowspan="2">No</th>
                <th rowspan="2">Cover Buku</th>
                <th colspan="3">Detail</th>
                <th rowspan="2">BELI!</th>
            </tr>
            <tr class="Tahd">
                <td>Titel</td>
                <td>Deskripsi</td>
                <td>Harga</td>
            </tr>
            <% books.forEach(book => {%>
            <tr>
                <td><%= book.id %></td>
                <td><img src="<%= book.image %>" alt="Cover" width="200"></td>
                <td><%= book.title %></td>
                <td><%= book.description %></td>
                <td><%= book.price %></td>
                <td><button type="button" class="btn btn-success btn-sm m-2"><a style="text-decoration: none;" href="/buy/<%= book.id %>" class="text-light">Beli Sekarang!</a></button></td>
            </tr>
            <% }) %>
        </table> <br> <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <%- include('components/footer'); %>


</body>

</html>