<!DOCTYPE html>
<html lang="en">

<head>
    <title>OnLibrary</title>
    <meta charset="utf-8">
    <script src="javascript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <h1>OnLibrary</h1>
    <hr>
    <div>
        <%- include( 'components/navbar'); %>
    </div>

    <div class="container px-lg-5 position-relative form-container">
        <p align="center">Please put your personal information to register.</p>
        <input class="form-control mb-3" type="text" placeholder="First Name" aria-label="Disabled input example" required/>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" required/>
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" required/>
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Password" required/>
            <label for="floatingInput">Password</label>
        </div>
        Gender:
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
    Male
  </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
    Female
  </label>
        </div>
        <div class="form-floating mb-3">
            Birthday:
            <div class="mb-3">
                <input type="date" class="form-control" placeholder="" required/>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Selecr a profile picture</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
   Are you sure your data is correct?
  </label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>

    <%- include('components/footer'); %>
</body>



</html>