.Tahd {
    background-color: greenyellow;
}

.Tgenap {
    background-color: white;
}

.nav-item a:hover {
    color: gray !important;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link:not(.btn) {
    color: black !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar .navbar-nav li {
    font-size: 14px;
    display: flex;
    list-style: none;
    justify-content: content-end;
    color: black !important;
}